  <app-spinner *ngIf="loadingRepoData"></app-spinner>
	    
<div *ngIf="!loadingRepoData">
  	
  	<div class="row">
    	<div class="col-8">
    		<h3 class="card-title">Repositories</h3>
    	</div>	    
		<div class="list-group" 
		      style="padding-left: 20px; padding-right: 20px; width: 100%">
		  <a 
		  	 class="list-group-item list-group-item-action flex-column align-items-start"					  	 
		  	 *ngFor="let repo of pagedRepositories; let i=index"
		  	 [ngClass]="activeClass" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)">
		    <!-- <div class="d-flex w-100 justify-content-between"> -->
        <div class="d-flex w-100 justify-content-between">
		      <h5 class="mb-1">{{ repo.name }}</h5>
		      <small>created on {{ repo.created_at | amDateFormat: 'YYYY-MM-DD HH:mm' }}</small>
		    </div>
		    <p class="mb-1">{{ repo.description }}</p>
		  </a>
		</div>					
    </div>
    <div class="row justify-content-center">
    	<nav aria-label="Page navigation example"
			  style="padding-top: 20px">
		  	
		  <!-- pager -->
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li class="page-item"
                	[ngClass]="{disabled:pager.currentPage === 1}">
                    <a class="page-link"
                       (click)="setPage(1)">First</a>
                </li>
                <li class="page-item"
                	[ngClass]="{disabled:pager.currentPage === 1}">
                    <a class="page-link"
                       (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li class="page-item"
                	*ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a class="page-link"
                       (click)="setPage(page)">{{page}}</a>
                </li>
                <li class="page-item"
                	[ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <!--   <a class="page-link"
                       (click)="setPage(pager.currentPage + 1)">Next</a> -->
                       currentPage: {{ pager.currentPage }} 
                       totalPages: {{ pager.totalPages }}

                         <a class="page-link"
                       (click)="next(pager.currentPage + 1)">Next</a>
                </li>
                <li class="page-item"
                	[ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a class="page-link"
                       (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
		</nav>
    </div>
</div>